@media only screen
and (min-device-width : 310px) 
and (max-device-width : 479px) {

    header {
        height: 67px;
        justify-content: space-between;
    }

    .header-logo-img {
    width: 70px;
    height: 100%;
    background-size: contain;
    margin-left: -20px;
}

    .hamburger-icon {
        display: block;
        font-size: 30px;
        margin-right: 20px;
    }

    .header-phoneNumber {
        margin-left: -20px;
        display: none;
    }

    .for-small-screen {
        display: block;
        font-family: "Kurale";
        font-size: 20px;
        color: white;
        margin-right: 15px;
    }

    .header-list-menu a:nth-child(2),
    .header-list-menu a:nth-child(3),
    .header-list-menu a:nth-child(4) {
        display: none;
    }

    .header-list-menu {
        margin-left: 40px;
    }

    .header-list-menu a {
        width: 30px;
    }

    .logo-image {
        background-image: url(..design/img_pack/logo.png);
        width: 50%;
    }

    .header-logo img {
        width: 66px;
        height: 100px;
    }

    .header-logo {
        width: 100px;
    }


    .section-main {
        height: calc(100vh - 67px);
        margin-top: 67px;
        background-position: center center;
    }

    .section-main h1 > div > span {
        font-size: 20px;
    }

    .section-main h1 > div {
        position: static;
        width: 190px;
        font-size: 17px;
        top: -60px;
        right: 0px;
        padding: 10px 15px;
        margin: 10px auto 0;
    }

    .section-main h1 > div > span {
        font-size: 17px;
    }

    .header-phoneNumber {
        margin-right: 40px;
    }

    .section-main h1 {
        font-size: 25px;
        margin: 10px 0;
    }

    .section-promise ul li {
        width: 70%;
    }

    .section-promise ul li p {
        font-size: 12px;
    }

    .section-promise ul li div i {
        font-size: 30px;
        margin-right: 10px;
    }

    .section-main p {
        font-size: 15px;
        width: 80%;
        line-height: 18px;
    }

    .black-wrap {
        height: 100vh;
    }

    main img {
        margin: 0;
        width: 166px;
        height: 150px;
    }

    .section-main span {
        font-size: 17px;
    }

    .title {
    	padding: 15px 0;
        font-size: 36px;
    }

    .what-included ul {
        padding-bottom: 85px;
        background-size: 100% 17%;
    }

    .firstPart .title {
        font-size: 34px;
        width: 200px;
        margin: 15px 0 20px;
    }

    .firstPart .city {
        font-size: 25px;
    }

    .firstPart div p {
        font-size: 20px;
        padding: 10px 0;
    }

    .firstPart a {
        width: 45%;
        padding: 10px 30px ;
        margin-bottom: 30px;
        justify-content: space-around;
    }

    .firstPart p {
        font-size: 18px;
        margin-right: 10px;
    }

    .firstPart a div i {
        font-size: 30px;
        margin-right: 10px;
    }

    .firstPart .triangles-left {
        transform: rotate(270deg);
        position: absolute;
        width: 21px;
        height: 295px;
        left: 156px;
        top: -182px;
    }

    .section-dates ul {
        width: 100%;
        flex-direction: column;
        flex-grow: 1;
    }

    .firstPart {
        width: 100%;
    }

    .secondPart {
        padding: 20px 0;
        width: 100%;
        flex-grow: 1;
    }

    .secondPart .triangles-right {
       transform: rotate(450deg);
        position: absolute;
        width: 21px;
        height: 100%;
        left: 189px;
        top: 115px;
}

    .secondPart .bullets {
        top: -216px;
        height: 100%;
        transform: rotate(450deg);
        left: 166px;
        width: 11px;
    }

    .secondPart .moths-left {
        font-size: 20px;
        width: 86%;
    }

    .secondPart .price-actual {
        font-size: 50px;
    }

    .secondPart .price-outOfDated {
        font-size: 25px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .cross-line {
        transform: rotate(8deg);
        left: 37px;
        width: 107px;
    }

    .what-included ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 338px;
        margin: 1px 0;
        padding: 5px 0;
    }

    .what-included h2 {
    	padding: 18px 0;
        font-size: 30px;
    }

    .what-included ul li p {
        text-align: left;
    	font-size: 15px;
    }

    .what-included ul li div {
        padding: 0 0px 0 15px;
    }

    .what-included ul li div i {
        font-size: 25px;
        width: 35px;
    }

    .daily-program ul li {
        display: flex;
        flex-direction: column-reverse;
    	width: 340px;
    	height: auto;
        margin: 10px;
        background-color: #FDA600;
    }

    .daily-program h2 {
        font-size: 28px;
    }

    .daily-program .circle-time {
        width: 68px;
        height: 68px;
        top: -10px;
        left: -10px;
        box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
    }

    .daily-program ul li #img {
        height: 70px;
        background-position: 50% 30%;
    }

    .daily-program .circle-time span {
        font-size: 20px;
    }

    .hidden-when-small {
        display: none;
    }

    .daily-program ul li p {
        font-size: 13px;
    }

    .daily-block-footer h3 {
    	width: 50%;
        height: auto;
    }

    .daily-program ul li {
        flex: 0 0 300px;
    }

    .daily-program ul li h3 {
        font-size: 14px;
        float: right;
        color: white;
        display: block;
        text-align: right;
        padding: 10px 15px;
        width: calc(100% - 70px - 15px *2);
        margin: 0 0 0 70px;
    }

    .first-day {
        background-size: 30%   auto;
    }

    .Order-button {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
    }

    .Order-button a {
        width: 175px;
        margin: 5px;
        height: 50px;
    }

    .Order-button a p {
        font-size: 20px;
    }

    .order-phoneNumber {
        margin: 5px 0;
        font-size: 19px;
    }

    .Order-button a div i {

        margin-right: 10px;
        color: white;
        font-size: 30px;
    }

    .third-day  {
        background-size: 90% auto;
    }

    .fouth-day {
        background-size: 100% auto;
    }

    .daily-block-footer p {
        font-size: 14px;
    }

    .daily-block-footer h3 {
        font-size: 18px;
    }

    .daily-block-footer img {
        position: absolute;
        top: -59px;
        right: 0;
        width: 45px;
    }

    .photo-collage p {
        font-size: 30px;
        font-weight: bold;
    }

    .photo-collage div {
        height: 140px;
    }

    .contacts ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }

    .contacts h3 {
        font-size: 30px;
    }

    .contacts ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts ul li {
        width: 100%;
    }

    .contacts ul li h4 {
        font-size: 16px;
    }

    .contacts ul li span {
        font-size: 13px;
    }

    .subscribe {
        background-color: rgba(72, 0, 255, 0.9);
    }

    .subscribe input {
        width: 151px;
        height: 30px;
    }

    .subscribe a {
        width: 150px;
        padding: 6px;
        font-size: 14px;
    }

    .subscribe h3 {
        width: 80%;
        text-align: center;
        font-size: 13px;
    }

    .phone-button {
        bottom: 10px;
        right: 10px;
        width: 65px;
        height: 65px;
    }

    .modal-windows {
        width: 100%;
        height: 100vh;
    }

    .modal-windows h3 {
        font-size: 30px;
        line-height: 35px;
        margin-top: 55px;
        margin-bottom: -20px;
    }

    .modal-windows .register-form {
        flex-direction: column-reverse;
    }

    .modal-windows .register-form a {
        width: 80%;
        text-align: center;
    }

    .modal-windows .register-form div p:first-child {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .modal-windows .register-form div p:nth-child(2) {
        font-size: 25px;
    }

    .modal-windows .register-form a {
        font-size: 20px;
        margin:20px 0 0 0;
    }

    .modal-windows span i {
        top: 25px;
        right: 20px;
        font-size: 20px;
    }

    .modal-windows img {
        width: 155px;
        margin-bottom: 20px;
    }

    ::-webkit-input-placeholder { font-size: 183px;color:grey;font-family: "Ubuntu";}
    ::-moz-placeholder          { font-size: 13px;color:grey;font-family: "Ubuntu";}/* Firefox 19+ */
    :-moz-placeholder           { font-size: 183px;color:grey;font-family: "Ubuntu";}/* Firefox 18- */
    :-ms-input-placeholder      { font-size: 183px;color:grey;font-family: "Ubuntu";}
    
    .phone-button-slide ul li {
        padding: 10px 34px 10px 15px;
    }
    


.phone-button-slide ul li i {
    font-size: 50px;
    align-self: center;
}

.phone-button-slide ul li h3 {
    font-size: 20px;
}


.phone-button-slide ul li p {
    font-size: 25px;
}

}


