@media only screen
and (min-device-width : 1280px) 
and (max-device-width : 1650px) {

    .title {
    	padding: 15px 0;
    }

    .what-points h2 {
    	padding: 18px 0;
    }

    .notincluded ul {
    	padding-bottom: 300px;
    }

    .what-points ul li p {
    	font-size: 17px;
    }

    .daily-program ul li {
    	width: 20%;
    }

    .daily-block-footer h3 {
    	width: 50%;
    }

    .Order-button {
    	margin: 0;
    }

    .Order-button a {
        padding: 10px 20px;
    }

    .modal-windows {
        height: auto;
        width: 80%;
        margin-top: 10%;
    }

    .phone-button-slide ul li {
        padding: 10px 8px 10px 15px;
    }

}


