@media only screen
and (min-device-width : 480px) 
and (max-device-width : 767px) {

    header {
        height: 67px;
        justify-content: space-between;
    }

    .submenu {
        top:67px;
    }

    .hamburger-icon {
        display: block;
        margin-right: 20px;
    }

    .header-phoneNumber {
        display: none;
    }

    .header-logo-img {
        width: 72px;
    }

    .for-small-screen {
        display: block;
        text-align: center;
        font-family: "Kurale";
        font-size: 23px;
        color: white;
        width: 26%;
        margin-right: 30px;
    }

    .header-list-menu a:nth-child(2),
    .header-list-menu a:nth-child(3),
    .header-list-menu a:nth-child(4) {
        display: none;
    }

    .header-list-menu {
        margin-left: 40px;
    }

    .header-list-menu a {
        width: 30px;
    }

    .logo-image {
        /* background-image: url(..design/img_pack/logo.png); */
        width: 40%;
    }

    .header-logo img {
        width: 80px;
        height: 68px;
    }

    .header-logo {
        width: 100px;
    }

    .header-phoneNumber {
        margin-right: 40px;
    }

    .section-main h1 {
        font-size: 38px;
    }

    .section-promise ul li {
        width: 70%;
    }

    .section-promise ul li p {
        font-size: 15px;
    }

    .section-promise ul li div i {
        font-size: 30px;
        margin-right: 10px;
    }

    .section-main p {
        font-size: 20px;
        width: 80%;
        line-height: 25px;
    }

    .section-main {
        margin-top: 67px;
        height: calc(100vh - 67px);
        background-position: 3% 45%;
    }

    .section-main h1 > div {
        position: static;
        width: 280px;
        font-size: 25px;
        top: -60px;
        right: 0px;
        padding: 10px 15px;
        margin: 10px auto 0;
    }

    .black-wrap {
         height: 100vh;
        padding-top: 130px;
    }

    main img {
        margin: 0;
        width: 166px;
        height: 150px;
    }

    .section-main span {
        font-size: 20px;
    }

    .title {
    	padding: 15px 0;
        font-size: 36px;
    }

    .what-included ul {
        padding-bottom: 85px;
        background-size: 100% 17%;
    }

    .firstPart .title {
        font-size: 34px;
        width: 200px;
        margin: 15px 0 20px;
    }

    .firstPart .city {
        font-size: 25px;
    }

    .firstPart div p {
        font-size: 20px;
        padding: 10px 0;
    }

    .firstPart a {
        width: 70%;
        padding: 10px 0;
        margin-bottom: 30px;
    }

    .firstPart p {
        font-size: 18px;
    }

    .firstPart a div i {
        font-size: 30px;
    }

    .firstPart .triangles-left {
        transform: rotate(270deg);
        position: absolute;
        width: 21px;
        height: 297px;
        left: 138px;
        top: -158px;
    }

    .section-dates ul {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .firstPart {
        width: 298px;
    }

    .secondPart {
        padding: 20px 0;
        width: 298px;
    }

    .secondPart .moths-left {
        font-size: 20px;
        width: 86%;
    }

    .secondPart .price-actual {
        font-size: 55px;
    }

    .secondPart .price-outOfDated {
        font-size: 25px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .cross-line {
        transform: rotate(8deg);
        left: 37px;
        width: 107px;
    }

    .what-included ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 338px;
        margin: 1px 0;
        padding: 5px 0;
    }

    .what-included h2 {
    	padding: 18px 0;
        font-size: 30px;
    }

    .what-included ul li p {
        text-align: left;
    	font-size: 15px;
    }

    .what-included ul li div i {
        font-size: 25px;
        width: 35px;
    }

    .daily-program ul li {
    	width: 340px;
    }

    .daily-program h2 {
        font-size: 32px;
    }

    .daily-program .circle-time {
        width: 80px;
        height: 80px;
    }

    .daily-program .circle-time span {
        font-size: 20px;
    }

    .daily-program ul li p {
        font-size: 13px;
    }

    .daily-block-footer h3 {
    	width: 50%;
    }

    .daily-program ul li h3 {
        font-size: 15px;
    }
    
    .Order-button {
        margin-top: 0;
        flex-direction: column;
        justify-content: space-around;
    }

    .Order-button a {
        width: 175px;
        height: 50px;
    }

    .Order-button a p {
        font-size: 20px;
    }

    .order-phoneNumber {
        font-size: 19px;
    }

    .Order-button a div i {
        margin-right: 10px;
        color: white;
        font-size: 30px;
    }

    .third-day  {
        background-size: 50% auto;
    }

    .daily-block-footer p {
        font-size: 14px;
    }

    .daily-block-footer h3 {
        font-size: 18px;
    }

    .fouth-day {
        background-size:100% auto;
    }

    .daily-block-footer img {
        position: absolute;
        top: -58px;
        right: 29px;
        width: 45px;
    }

    .photo-collage p {
        font-size: 32px;
    }

    .photo-collage div {
        height: 230px;
    }

    .contacts ul {
        width: 90%;
    }

    .contacts h3 {
        font-size: 30px;
    }

    .contacts ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts ul li h4 {
        font-size: 16px;
    }

    .contacts ul li span {
        font-size: 13px;
    }

    .subscribe {
        background-color: rgba(72, 0, 255, 0.9);
    }

    .subscribe input {
        width: 151px;
        height: 30px;
    }

    .subscribe a {
        padding: 9px;
        font-size: 16px;
    }

    .subscribe h3 {
        font-size: 13px;
    }

    .phone-button {
        bottom: 10px;
        right: 10px;
        width: 65px;
        height: 65px;
    }

    .modal {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-windows {
       margin: center;
       height: auto;
    }


    .modal-windows h3 {
        width: 90%;
        font-size: 30px;
        line-height: 35px;
        margin-top: 20px;
    }

    .modal-windows .register-form {
        flex-direction: column-reverse;
    }

    .modal-windows .register-form div p:first-child {
        font-size: 25px;
        text-align: center;
        margin-top: 10px;
    }

    .modal-windows .register-form div p:nth-child(2) {
        font-size: 25px;
    }

    .modal-windows .register-form a {
        padding: 15px 20px;
        margin: 25px 0 0 0;
    }

    ::-webkit-input-placeholder { font-size: 13px;color:grey;font-family: "Ubuntu";}
    ::-moz-placeholder          { font-size: 13px;color:grey;font-family: "Ubuntu";}/* Firefox 19+ */
    :-moz-placeholder           { font-size: 13px;color:grey;font-family: "Ubuntu";}/* Firefox 18- */
    :-ms-input-placeholder      { font-size: 13px;color:grey;font-family: "Ubuntu";}

    .phone-button-slide ul li {
        padding: 10px 17px 10px 15px;
    }

    .phone-button-slide ul li i {
        font-size: 60px;
    }

    .phone-button-slide ul li h3 {
        font-size: 20px;
    }

    .phone-button-slide ul li p {
        font-size: 
    }
}


