@media only screen
and (min-device-width : 1024px) 
and (max-device-width : 1279px) {

    .submenu {
        display: none;
    }

    .submenu  ul {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .header-list-menu {
        margin-left: 40px;
    }

    .header-list-menu a {
        width: 110px;
    }

    .header-logo {
        width: 100px;
    }

    .header-phoneNumber {
        margin-right: 40px;
    }

    .title {
    	padding: 15px 0;
    }

    .vacant {
        display: none;
    }

    .what-points ul {
        padding-bottom: 200px;
    }
    
    .included ul {
        padding-bottom: 30px;
    }

    .what-points ul li p {
    	font-size: 17px;
    }

    .daily-program ul li {
    	flex: 1 0 25%;
    }

    .daily-program ul li p {
        margin: 25px 15px;
    }

    .daily-block-footer img {
        position: absolute;
        top: -10px;
        right: 60px;
        width: 70px;
    }

    .daily-block-footer h3 {
    	width: 50%;
    }

    .second-day {
    	padding-bottom: 38px;
    }

    .Order-button {
    	margin: 0;
    }

    .Order-button a {
        margin: 0;
    }

    .order-phoneNumber {
        margin: 0;
    }

    .daily-block-footer {
    	margin-top: 20px;
    }

    .daily-block-footer p {
        font-size: 18px;
    }

    .daily-block-footer h3 {
        font-size: 25px;
    }

    .fouth-day .daily-block-footer {
    	margin: 20px 0;
    }

    .modal-windows {
        height: auto;
    }

    .phone-button-slide ul li {
        padding: 10px 5px 10px 15px;
    }

}


