@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1023px) {

    header {
        justify-content: space-between;
    }

    .hamburger-icon {
        display: block;
        margin-right: 50px;
    }

    .header-phoneNumber {
        display: none;
    }

    .for-small-screen {
        display: block;
        font-family: "Kurale";
        margin-right: 100px;
        font-size: 30px;
        color: white;
    }

    .header-list-menu a:nth-child(2),
    .header-list-menu a:nth-child(3),
    .header-list-menu a:nth-child(4) {
        display: none;
    }

    .header-list-menu {
        margin-left: 40px;
    }

    .header-list-menu a {
        width: 110px;
    }

    .header-logo img {
        width: 92px;
    }

    .header-logo {
        width: 100px;
    }

    .header-phoneNumber {
        margin-right: 40px;
    }

    .submenu {
        top:97px;
    }

    .section-main {
        height: calc(100vh - 97px);
        margin-top: 97px;
    }

    .section-main h1 {
        font-size: 55px;
    }

    .section-promise ul li p {
        font-size: 15px;
    }

    .section-promise ul li div i {
        font-size: 30px;
        margin-right: 10px;
    }

    .section-main p {
        font-size: 15px;
    }

    .title {
    	padding: 15px 0;
        font-size: 34px;
    }

    .what-included ul {
        padding-bottom: 200px;
        background-size: 100% 41%;
    }

    .firstPart .title {
        font-size: 27px;
    }

    .firstPart .city {
        font-size: 21px;
    }

    .firstPart div p {
        font-size: 17px;
        padding: 10px 0;
    }

    .firstPart a {
        padding: 3px 0;
    }

    .firstPart p {
        font-size: 20px;
    }

    .firstPart a div i {
        font-size: 32px;
    }

    .firstPart .triangles-left {
        position: absolute;
        width: 20px;
        left: -19px;
        top: 0px;
    }

    .secondPart .triangles-right {
        right: -20px;
        width: 20px;
    }

    .secondPart .bullets {
        left: -14px;
        width: 6px;
    }

    .secondPart .moths-left {
        font-size: 18px;
        width: 86%;
    }

    .secondPart .price-actual {
        font-size: 47px;
    }

    .secondPart .price-outOfDated {
        font-size: 23px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .cross-line {
        transform: rotate(8deg);
        left: 37px;
        width: 107px;
    }

    .what-included ul {
        padding-bottom: 161px;
        background-size: 100% 31%;
    }

    .what-included h2 {
    	padding: 18px 0;
        font-size: 30px;
    }

    .what-included ul li p {
    	font-size: 15px;
    }

    .what-included ul li div i {
        font-size: 30px;
    }


    .daily-program {
    	padding: 15px 0;
    }

    .daily-program ul li {
    	width: 37%;
        margin-top: 24px;
    }

    .daily-program h2 {
    	padding:0;
        font-size: 32px;
    }

    .daily-block-footer {
    	margin-bottom:0;
    }

    .daily-block-footer h3 {
    	width: 50%;
    }


    .second-day {
    	padding-bottom: 38px;
    }

    .Order-button {
    	margin:  0;
    }

    .Order-button a {
        margin: 0;
        height: 50px;
    }

    .order-phoneNumber {
        margin: 0;
        font-size: 27px;
    }

    .third-day h2 {
    	margin: 40px 0 -8px;
    }

    .third-day .daily-block-footer {
    	margin-bottom: 50px;
    }

    .daily-block-footer {
    	margin-top: 20px;
    }

    .daily-block-footer p {
        font-size: 18px;
    }

    .daily-block-footer h3 {
        font-size: 25px;
    }

    .fouth-day .daily-block-footer {
    	margin: 20px 0;
    }

    .photo-collage p {
        font-size: 36px;
    	padding: 0px 0 35px;
    }

    .photo-collage div {
        height: 230px;
    }

    .contacts ul {
        width: 90%;
    }

    .contacts h3 {
        font-size: 36px;
    }

    .contacts ul li h4 {
        font-size: 16px;
    }

    .contacts ul li span {
        font-size: 13px;
    }

    .subscribe {
        background-color: rgba(72, 0, 255, 0.9);
    }

    .subscribe input {
        width: 230px;
        height: 35px;
    }

    .subscribe a {
        padding: 8px;
    }

    .subscribe h3 {
        font-size: 20px;
    }
}


