@media only screen
and (min-device-width : 1280px) 
and (max-device-width : 1650px) {

    .title {
    	padding: 15px 0;
    }

    .what-included h2 {
    	padding: 18px 0;
    }

    .what-included ul li p {
    	font-size: 17px;
    }

    .daily-program ul li {
    	width: 20%;
    }

    .daily-block-footer h3 {
    	width: 50%;
    }

    .Order-button {
    	margin: 0;
    }

}


