@media only screen
and (min-device-width : 1651px)  {

    .section-main span {
        font-size: 35px;
    }

    .section-main h1 {
        font-size: 85px;
    }

    .logo-image {
        width: 245px;
        height: 230px;
    }

    .title {
    	padding: 15px 0;
    }

    .section-main p {
       font-size: 23px;
    }

    .what-points h2 {
    	padding: 18px 0;
    }

    .what-points ul li p {
    	font-size: 17px;
    }

    .daily-program {
        padding: 30px 0;
    }

    .daily-program ul li {
    	width: 25%;
    }

    .daily-block-footer h3 {
    	width: 50%;
    }

    .Order-button {
        margin: 0;
    }

    .Order-button a {
    	padding: 15px 20px;
    }

    .modal-windows {
        height: auto;
        margin-top: 10%;
    }

    .modal-windows h3 {
        font-size: 380%;
    }

}


